.Admin_header{
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 25px;
  width: 1950px;
  height: 80px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 2px black;
}


.item{
    font-size: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 10px;
    text-align: center;
    border-radius:15px;
    border-color: rgb(196, 206, 209);
}

.item:active{
    background: linear-gradient(to bottom right,rgb(85, 85, 235),rgb(200, 106, 192));
    color: white;
}

.Feedback{
    border: 2px solid rgb(196, 206, 209);
    background-color: white;
    height: 550px;
    width: 1300px;
    margin-top: 30px;
    margin-left: 320px; 
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 2px black;

}
 /* .Feedback_Dash{
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    height: 550px;
    width: 1300px;
    margin-top: 300px;
    margin-left: 300px; 
    padding: 15px; 
}

.Inner_div{
    border: 2px solid black;
    border-radius: 15px;
    height:70%;
    margin-top: 10%;
    
} 
p{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
} */


/* .User{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
    margin-left: 20px;
    margin-right: 30px; 
}

.Type{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
    margin-left:150px ; 
}

.Rating{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
}

.Message{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
}

.Status{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
}

.Date{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
}

.Actions{
    display: inline;
    font-size: 18px;
    font-weight: 700;
    margin: 0px 50px;
}

.p_div{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-radius: 20px;
    height: 50px;
    background-color: rgb(239, 229, 229)
} */

