.details{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.labels{
  margin-bottom: 20px;
}

.inputs{
  border-radius: 18px;
  border:1px solid #ccc;
  flex:1;
  padding:10px;
  width: 250px;
}