.filters{
    display: flex;
    justify-content: space-between;
}
.search-wrapper{
    position: relative;
    width: 250px;
}

.search-icon{
    position: absolute;
    top: 25%;
    left: 12px;
    color: gray;
    font-size: 18px;
}

.search-input{
    width: 80%;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    padding-left: 36px;
}